{% extends "dashboard/base.html" %}
{% load static %}

{% block page_name %}Test and Analyze{% endblock %}

{% block breadcrumb_items %}
<li class="breadcrumb-item"><a href="#!">Hotels</a></li>
<li class="breadcrumb-item"><a href="{% url 'hotels:analyze' %}">Test and Analyze</a></li>
{% endblock %}

{% block main_content %}
<div class="row">
    <div class="col-md-6 col-xl-6">
        <div class="card">
            <h3 class="card-header">Real Example</h3>
            <div class="card-body">
                <p>Let's consider scraping <b><a href="https://www.tripadvisor.com/">tripadvisor.com</a></b> to grab hotels data from a certain city.</p>
            </div>
            <img class="img-fluid card-img-bottom" style="filter: brightness(80%)" src="{% static 'dashboard_theme/custom/tripadviser.png' %}" />
        </div>
    </div>
    <div class="col-md-6 col-xl-6">
        <div class="card">
            <h3 class="card-header">Split process into Steps</h3>
            <div class="card-body">
                <ol>
                    <li>
                        <h5>Get hotel list page and extract hotel urls</h5>
                        <p>This step depends on a <b>city</b> and <b>page number</b> from <a href="{% url 'hotels:search' %}">this form</a>,
                            and it may be done sequentially.</p>
                    </li>
                    <li>
                        <h5>Iterate over hotels and extract html</h5>
                        <p>Let's use various techniques and try to optimyze it and process multiple pages concurrently</p>
                    </li>
                    <li><h5>Parse hotels' html and extract required data</h5></li>
                </ol>
                <br />
                <hr />
                <p>Extract very simple data like this:</p>
                <img class="img-fluid" src="{% static 'dashboard_theme/custom/table-sample.png' %}" />
            </div>
        </div>
    </div>
    <div class="col-md-12 col-xl-12">
        <div class="card shadow">
            <h3 class="card-header">How it works</h3>
            <div class="card-body">
                <p>FastAPI works under Gunicorn(Uvicorn) server and accepts user request to parse certain page.</p>
                <p>User request data includes <code>city[str]</code> and <code>page[int]</code> parameters.</p>

                <h4>1st step</h4>
                <p>Firstly Scraper needs to get Hotel list page according to a user request data, usually one page includes 30 items (hotels),
                    and this step should take the same time for any approach as there is nothing to do in parallel or concurrently.</p>

                <h4>2nd step</h4>
                <div>Here we will deal with 30 http requests to fetch html content for those 30 web pages, and have 3 options for use:
                    <ul>
                        <li>do it <b>sequentially</b>;</li>
                        <li>use async/await syntax within <b>asyncio</b>;</li>
                        <li>use <b>multithreading</b> (also a good fit for I/O bound operations), and we are able to opt number of work threads, play with this parameter;</li>
                        <li>or take advantages of <b>multiprocessing</b> to parallelize this step.</li>
                    </ul>
                </div>

                <h4>3rd step</h4>
                <div>It is CPU consuming operation because it requires some computations to extract target data from html,
                    and it might be performed in 2 ways:
                    <ul>
                        <li>parse extracted html <b>sequentially</b> - i.e. process pages one by one;</li>
                        <li>or speed up this process using <b>multiprocessing</b> and process all pages in parallel.</li>
                    </ul>
                </div>

                <h4>Resources</h4>
                <div>It is very important which resources are used for such kind of work that uses threads and processes,
                    because f.e. the more CPU cores test machine has, the better results you'll get.
                    <ul>
                        <li>OS: Ubuntu 22.04</li>
                        <li>CPU: 8 cores</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-xl-12">
        <div class="card">
            <h3 class="card-header">Measure and Analyze timing</h3>
            <div class="card-body">
                <table id="analyze" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Step #2 approach</th>
                            <th>Threads #</th>
                            <th style="text">Step #3 multiprocessing **</th>
                            <th>Step 1 time</th>
                            <th>Step 2 time</th>
                            <th>Step 3 time</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="2" rowspan="2" class="tl">Sequential</td>
                            <td>No</td>
                            <td rowspan="9" class="vam">3.55</td>
                            <td rowspan="2" class="vam table-danger">39.91</td>
                            <td class="table-danger">3.37</td>
                            <td class="table-danger">46.83</td>
                        </tr>
                        <tr>
                            <td rowspan="7" class="vam">Yes</td>
                            <td rowspan="6" class="vam">1.15</td>
                            <td>44.61</td>
                        </tr>
                        <tr>
                            <td rowspan="5" class="tl">Multithreading</td>
                            <td>8</td>
                            <td>7.46</td>
                            <td>12.16</td>
                        </tr>
                        <tr>
                            <td>auto (8+4) *</td>
                            <td>6.69</td>
                            <td>11.39</td>
                        </tr>
                        <tr>
                            <td>16</td>
                            <td>6.23</td>
                            <td>10.93</td>
                        </tr>
                        <tr>
                            <td>20</td>
                            <td>6.71</td>
                            <td>11.41</td>
                        </tr>
                        <tr>
                            <td>30</td>
                            <td>6.99</td>
                            <td>11.69</td>
                        </tr>
                        <tr>
                            <td colspan="2" class="tl">Multiprocessing **</td>
                            <td colspan="2">8.09</td>
                            <td>11.59</td>
                        </tr>
                        <tr class="table-success">
                            <td colspan="2" class="tl">Asyncio + aiohttp</td>
                            <td>Yes</td>
                            <td>3.77</td>
                            <td>1.15</td>
                            <td>8.47</td>
                        </tr>
                    </tbody>
                </table>

                <div>
                    <p>* - default number of workers (threads) is <code>min(32, os.cpu_count() + 4)</code>, i.e. 8+4=12, see [<a href="https://docs.python.org/3/library/concurrent.futures.html">source</a>]</p>
                    <p>** - default number of workers (processes) <code>will default to the number of processors on the machine</code>, see [<a href="https://docs.python.org/3/library/concurrent.futures.html">source</a>]</p>
                    <p>*** - results represent average value from 50 runs</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-xl-12">
        <div class="card shadow">
            <h3 class="card-header">Outcome</h3>
            <div class="card-body">
                <p><b>Asyncio</b> + <b>multiprocessing</b> looks a right choice
                to build fast and effective application for scraping data from multiple webpages concurrently.</p>
                <p>Asyncio fits for I/O bound tasks, and multiprocessing - for CPU-consuming things.</p>
                <p>On the other hand I would say that it is not necessary to use Asyncio everywhere, f.e. for existing applications it would be easier
                    to make async IO/bound operations via <b>multithreading</b> as it gives almost the same advantages, but it is easier to plugin it into existing code,
                   especially if it doesn't use async-await syntax.</p>
            </div>
        </div>
    </div>

    <div class="col-md-12 col-xl-12">
        <div class="alert alert-info" role="alert">
            <span>There were used the same parameters <code>city = "Dubai"</code> and <code>page = 1</code> for parsing, see <a href="{% url 'hotels:search' %}" class="alert-link">this form</a>.</span><br />
        </div>
        <div class="alert alert-warning" role="alert">
            Note that these metrics depend on internet connection speed and machine CPU - so may vary for different machines.
        </div>

        <a class="btn btn-lg btn-primary" href="{% url 'hotels:search' %}"><i class="feather mr-2 icon-thumbs-up"></i>Try it</a>
    </div>

</div>
{% endblock %}