{% extends "dashboard/base/base_list.html" %}

{% block page_name %}Cities{% endblock %}

{% block breadcrumb_items %}
<li class="breadcrumb-item"><a href="#!">Geo</a></li>
<li class="breadcrumb-item"><a href="{% url 'geo:city-list' %}">Cities</a></li>
{% endblock %}

{% block main_content %}
    {% include "geo/_tech_stack.html" %}

    <div class="col-md-12 col-lg-12">
        <div class="row">
            <div class="table-responsive">
            <table id="grid" class="hover row-border">
                <thead style="background: lightgrey">
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Country Name</th>
                        <th>Country ISO3</th>
                        <th>Lat</th>
                        <th>Lon</th>
                        <th>Population</th>
                    </tr>
                </thead>
            </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#grid').DataTable({
                ajax: {
                    url: "{% url "geo:drf-api-city-list" %}",
                    dataSrc: ""
                },
                order: [[1, 'asc']],
                columns: [
                    { data: 'id', className: "text-right",
                      render: function(data, type, full, meta) {
                        url = '{% url "geo:city-update" 9999 %}'.replace('9999', full.id);
                        return '<a href="' + url + '">' + full.id + '</a>';} },
                    { data: 'name' },
                    { data: 'country_name' },
                    { data: 'country_iso3' },
                    { data: 'lat', className: "text-right" },
                    { data: 'lng', className: "text-right" },
                    { data: 'population', type: 'integer', render: DataTable.render.number(), className: "text-right" }
                ]
            });
        })
    </script>
{% endblock %}